<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lock&Shut QR</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>Scan me</header>
      <section>
        <img class="qr" src="<%=qr%>" alt="qr code" />
      </section>
    </div>
  </body>
</html>
